@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --footerHeight: 45px;
}



* {
    font-family: sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.norse {
    font-family: 'norsebold';
    color: white;
    font-size: 100px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    display: flex;
    position: relative;
    background-color: black;
}

.left {
    flex:1;
    flex-shrink: 0;
    position: relative;
    display: flex;
    align-items: flex-end;


}
.left::before {
    content: "";
    background-image: url(images/gbpBGcropped.jpg);
    background-size: cover;
    opacity: 0.7;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
} 

#gbpLogo {
    position: absolute;
    top: 0;
    width: 200px;
    opacity: 1;
}
.container {
    flex: 1;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    position: relative;
    padding: 20px;
    justify-content: center;
    margin-bottom: 45px;
}

.odinimg {
    width: 75px;
}

.right {
    position: relative;
    flex:1.3;
    background-color: rgba(37, 28, 71, 0.8);
    /* box-shadow: inset 2em 1em rgba(0,0,0,0.3); */
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 6px 0px inset, rgba(0, 0, 0, 0.3) -3px -3px 6px 1px inset;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - var(--footerHeight));
    color: white;
}
.right::before {
    content: "";
    background-image: url(images/gbpBG.png);
    background-size: cover;
    opacity: 0.1;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
} 
.right > div {
    position: relative;
}
.right > div {
    flex:1;
    /* border: 2px red solid; */
}

.top{
    position: relative;
    padding-top: 100px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.topText {
    padding: 15px;
    margin-left: 70px;
    margin-right: 50px;
    font-size: 20px;
    line-height: 1.5;
    /* background-color: rgba(0,0,0,0.3);
    border-radius: 30px; */
}

section {
    padding: 40px;
}

h1{
    font-size: 30px;
}

input{
    border-radius: 10px;
    padding: 2px;
    padding-left: 10px;
    border: 2px solid #000;
}

input:focus {
    border-color: cornflowerblue;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 4px 12px;
}
/* 
input:invalid {
    border: solid 1px red;
} */


#myform {
    background-color: rgba(37, 28, 71, 1);
    display: flex;
    flex-direction: column;
    gap: 18px;
    /* border: 1px solid rgba(0,0,0,0.7); */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}
#myform > div {
    display: flex;
    gap: 50px;
}
#myform > div > div {
    display: flex;
    flex-direction: column;
}

input + span {
    position: relative;
}



input:invalid:required + span::after {
    content: '*';
    color: pink;
    font-size: 15px;
    position: absolute;
    right: 10px;
    bottom: 30px;    
}

input:valid:required + span::after {
    content: '*';
    color: yellowgreen;
    font-size: 15px;
    position: absolute;
    right: 10px;
    bottom: 30px;    
}


#account {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#account > button {
    width: 150px;
}

a {
    text-decoration: none;
    color: rgba(255, 86, 190, 0.7);
}

a:hover {
    text-decoration: underline;
}

button {
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 12px;
}


.emphasis {
    font-style: italic;
    font-size: inherit;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    height: var(--footerHeight);
    padding: 12px;
    padding-right: 40px;
    background-color: rgba(31, 41, 55, 0.8);
    color: white;
}
